@model Payment.Models.Remmiter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Remmiter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rem_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rem_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rem_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rem_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rem_ID_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rem_ID_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rem_Src_Acc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rem_Src_Acc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
